<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        $(function () {
            var id = 2;
            var result = ajaxSynchGet("user/dimensionManage/getDimensionTree", {"id":id});
            if (result.code == '200') {
                $('#roleMenuTree').tree({
                    lines : true,
                    multiple : false,
                    checkbox : false,
                    data : result.data
                });
            } else {
                alertWarn(result.msg);
            }
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addRoleShow()">新增</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editRoleShow()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="opertUserState(1)">删除</a>
        </div>

        <!--/*
        <div style="padding:0 0 0 7px;color:#333;">
            角色名：<input type="text" class="textbox" id="unameSearch" style="width:110px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchRole()">查询</a>
        </div>
        */-->

        <ul id="roleMenuTree"/>
    </div>
</table>

</body>
</html>