<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">

        var openDim = new Array();

        var addType = -1;
        var selectDimId = -1;

        function treeInit() {
            var result = ajaxSynchGet("user/dimensionManage/getDimensionTree", {"pid": 0});
            if (result.code == '200') {
                $('#roleMenuTree').tree({
                    lines : true,
                    multiple : false,
                    checkbox : false,
                    data : result.data,
                    onSelect: function(node) {
                        var result = ajaxSynchGet("user/dimensionManage/getDetail", {"id": node.id});
                        if (result.code == '200') {
                            var dim = result.data;
                            $('#dimName').val(dim.dimensionName);
                            $("input:radio[name=dataType][value=" + dim.dataType + "]").prop("checked",true);

                            selectDimId = dim.id;
                        } else {
                            alertWarn(result.msg);
                        }
                    },
                    onBeforeExpand: function(node) {
                        if (openDim.indexOf(node.id) == -1) {
                            open(node);
                        }
                        //return true;
                    }
//                    onSelect: function(node) {
//                        open(node);
//                    }
                });
            } else {
                alertWarn(result.msg);
            }
        }

        function open(node) {
            var result = ajaxSynchGet("user/dimensionManage/getDimensionTree", {"pid": node.id});
            if (result.code == '200') {
                openDim.push(node.id);
                $('#roleMenuTree').tree('append', {
                    parent : node.target,
                    data : result.data
                });
            } else {
                alertWarn(result.msg);
            }
        }

        function addDimShow(type) {
            addType = type;
            $('#dimName').val('');
            if (type == 0) {
                $("input:radio[name=dataType][value=" + 0 + "]").prop("checked",true);
            } else {
                $("input:radio[name=dataType][value=" + 1 + "]").prop("checked",true);
            }
        }

        function commitSave() {
            var dimName = $('#dimName').val();
            var dataType = $("input[name='dataType']:checked").val();
            //alert(selectDimId + "  " + dimName + "   " + dataType);

            if (addType == 0) { // 新增维度

            } else if (addType == 1) { // 新增维度成员
                if (selectDimId == -1) {
                    alertWarn("新增维度成员时需要先选中维度！");
                }
            }
        }

        $(function () {
            treeInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addDimShow(0)">新增维度</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addDimShow(1)">新增成员</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="deleteDim()">删除</a>
        </div>

        <!--/*
        <div style="padding:0 0 0 7px;color:#333;">
            角色名：<input type="text" class="textbox" id="unameSearch" style="width:110px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchRole()">查询</a>
        </div>
        */-->

        <div>
            <div style="float:left; width: 50%">
                <ul id="roleMenuTree"/>
            </div>
            <div style="float:left; width: 50%">
                <p style="margin-top: 0px">维度名称&nbsp;<input id="dimName" type="text" style="width:200px;" /></p>
                <p>数据类别
                    <input name="dataType" type="radio" value="1">数值</input>
                    <input name="dataType" type="radio" value="2">文本</input>
                    <input name="dataType" type="radio" value="0">聚集</input>
                </p>
                <p><input type="button" value="保存" onclick="commitSave()" /></p>
                <p>
                    <font size="2">
                        注意：<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;维度的数据类型，只能是聚集 <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;维度成员，拥有子项时，数据类型只能是聚集，且所有子项只能是数值 <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;维度成员，没有子项时，数据类型不能是聚集 <br/>
                    </font>
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</table>

</body>
</html>