<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function searchEmployer() {
            var result = ajaxSynchPostJson("user/employerAdjust/search", {
                "employerName": $('#employerNameSearch').val(), "phone": $('#employerPhoneSearch').val(),
                "employerType": $('#employerTypeSearch').datetimebox('getValue'),
                "onJobState": $('#onJobStateSearch').datetimebox('getValue'),
                "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'employerName',
                        title : '姓名',
                        width : 70
                    },
                    {
                        field : 'gender',
                        title : '性别',
                        width : 25,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "男";
                            } else {
                                return "女";
                            }
                        }
                    },
                    {
                        field : 'phone',
                        title : '手机号',
                        width : 100
                    },
                    {
                        field : 'position',
                        title : '职位',
                        width : 100
                    },
                    {
                        field : 'employerTypeStr',
                        title : '员工类别',
                        width : 70
                    },
                    {
                        field : 'onJobStateStr',
                        title : '在职状态',
                        width : 50
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/employerAdjust/search", {"employerName": $('#employerNameSearch').val(), "phone": $('#employerPhoneSearch').val(), "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function detailEmployerShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            var result = ajaxSynchGet("user/employerAdjust/getEmployer", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }

            $("#employerNameDetail").val(result.data.employerName);
            $('#genderDetail').combobox('setValue', result.data.gender);
            $('#idCardNoDetail').val(result.data.idCardNo);
            $('#birthdayDateDetail').datebox('setValue', result.data.birthdayDate);
            $('#phoneDetail').val(result.data.phone);
            $('#nativePlaceDetail').val(result.data.nativePlace);
            $('#nowPlaceDetail').val(result.data.nowPlace);
            $('#departmentDetail').val(result.data.department);
            $('#positionDetail').val(result.data.position);
            $('#employerTypeDetail').combobox('setValue', result.data.employerType);
            $('#onJobStateDetail').combobox('setValue', result.data.onJobState);
            $('#entryCompanyTimeDetail').datebox('setValue', result.data.entryCompanyTime);
            $('#highestEducationDetail').combobox('setValue', result.data.highestEducation);
            $('#graduatedSchoolDetail').val(result.data.graduatedSchool);
            $('#graduatedDateDetail').datebox('setValue', result.data.graduatedDate);
            $('#emergencyContactPeopleDetail').val(result.data.emergencyContactPeople);
            $('#emergencyContactPeoplePhoneDetail').val(result.data.emergencyContactPeoplePhone);
            $('#employerRemarkDetail').val(result.data.employerRemark);

            $('#detailUserForm').dialog('open');
        }

        function editEmployerShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            var result = ajaxSynchGet("user/employerAdjust/getEmployer", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }

            $("#employerNameEdit").val(result.data.employerName);
            $("#genderEdit").val(result.data.gender == 0 ? "男" : "女");
            $('#idCardNoEdit').val(result.data.idCardNo);
            $('#birthdayDateEdit').val(result.data.birthdayDate);
            $('#phoneEdit').val(result.data.phone);
            $('#nativePlaceEdit').val(result.data.nativePlace);
            $('#nowPlaceEdit').val(result.data.nowPlace);
            $('#departmentEdit').val(result.data.department);
            $('#positionEdit').val(result.data.position);

            if (result.data.employerType == 0) {
                $('#employerTypeEdit').val("正式员工");
            } else if (result.data.employerType == 1) {
                $('#employerTypeEdit').val("试用期员工");
            } else if (result.data.employerType == 2) {
                $('#employerTypeEdit').val("实习期员工");
            } else if (result.data.employerType == 3) {
                $('#employerTypeEdit').val("临时雇员");
            }

            if (result.data.onJobState == 0) {
                $('#onJobStateEdit').val("在职");
            } else if (result.data.onJobState == 1) {
                $('#onJobStateEdit').val("离职中");
            } else if (result.data.onJobState == 2) {
                $('#onJobStateEdit').val("已离职");
            }

            $('#entryCompanyTimeEdit').val(result.data.entryCompanyTime);
            $('#highestEducationEdit').combobox('setValue', result.data.highestEducation);
            $('#graduatedSchoolEdit').val(result.data.graduatedSchool);
            $('#graduatedDateEdit').datebox('setValue', result.data.graduatedDate);
            $('#emergencyContactPeopleEdit').val(result.data.emergencyContactPeople);
            $('#emergencyContactPeoplePhoneEdit').val(result.data.emergencyContactPeoplePhone);
            $('#employerRemarkEdit').val(result.data.employerRemark);

            $('#editUserForm').dialog('open');
        }

        function editUserFormCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            var param = {
                "id": rows[0].id,
                "phone": $("#phoneEdit").val(),
                "nowPlace": $("#nowPlaceEdit").val(),
                "highestEducation": $('#highestEducationEdit').combobox('getValue'),
                "graduatedSchool": $("#graduatedSchoolEdit").val(),
                "graduatedDate": $('#graduatedDateEdit').datetimebox('getValue'),
                "emergencyContactPeople": $("#emergencyContactPeopleEdit").val(),
                "emergencyContactPeoplePhone": $("#emergencyContactPeoplePhoneEdit").val(),
                "employerRemark": $("#employerRemarkEdit").val()
            };
            var result = ajaxSynchPostJson("user/employerAdjust/updateEmployerInfo", param);
            if (result.code == '200') {
                alertSuccess();
                $('#editUserForm').dialog('close');
                searchEmployer();
            } else {
                alertWarn(result.msg);
            }
        }

        function deleteUser() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            $.messager.confirm('确定操作', "确定要删除吗？", function (flag) {
                if (flag) {
                    var result = ajaxSynchPostJson("user/employerAdjust/delete?id=" + rows[0].id, null);
                    if (result.code == '200') {
                        searchEmployer();
                        alertInfo(result.msg);
                    } else {
                        alertWarn(result.msg);
                    }
                }
            });
        }

        $(function () {
            dataGridInit();
            searchEmployer();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="detailEmployerShow()">查看</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editEmployerShow()">人员信息调整</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="deleteUser()">删除</a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            姓名&nbsp;<input type="text" class="textbox" id="employerNameSearch" style="width:100px" />&nbsp;&nbsp;
            手机号&nbsp;<input type="text" class="textbox" id="employerPhoneSearch" style="width:100px" />&nbsp;&nbsp;
            员工类别&nbsp;
            <select class="easyui-combobox" id="employerTypeSearch" style="width:85px;">
                <option value="" selected="true">请选择</option>
                <option value="0">正式员工</option>
                <option value="1">试用期员工</option>
                <option value="2">实习期员工</option>
                <option value="3">临时雇员</option>
            </select>&nbsp;&nbsp;
            在职状态&nbsp;
            <select class="easyui-combobox" id="onJobStateSearch" style="width:70px;">
                <option value="" selected="true">请选择</option>
                <option value="0">在职</option>
                <option value="1">离职中</option>
                <option value="2">已离职</option>
            </select>&nbsp;&nbsp;

            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEmployer()">查询</a>
        </div>
    </div>
</table>

<form id="detailUserForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:750,title:'查看',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#detailUserForm').form('reset');
       }">
    <div style="overflow-y: auto; height: 330px;">
        <p>
            &nbsp;&nbsp;姓名&nbsp;<input id="employerNameDetail" type="text" class="textbox" style="width:85px;" />
            &nbsp;&nbsp;性别&nbsp;
            <select class="easyui-combobox" id="genderDetail" style="width:50px;">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
            &nbsp;&nbsp;身份证号&nbsp;<input id="idCardNoDetail" type="text" class="textbox" style="width:140px;" />
            &nbsp;&nbsp;生日&nbsp;<input id="birthdayDateDetail" class="easyui-datebox" data-options="editable:false" style="width:100px" />
            &nbsp;&nbsp;手机&nbsp;<input id="phoneDetail" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>
            &nbsp;&nbsp;籍贯&nbsp;<input id="nativePlaceDetail" type="text" class="textbox" style="width:300px;" />
            &nbsp;&nbsp;现住地址&nbsp;<input id="nowPlaceDetail" type="text" class="textbox" style="width:300px;" />
        </p>
        <p>
            &nbsp;&nbsp;部门&nbsp;<input id="departmentDetail" type="text" class="textbox" style="width:145px;" />
            &nbsp;&nbsp;职位&nbsp;<input id="positionDetail" type="text" class="textbox" style="width:145px;" />
        </p>
        <p>
            &nbsp;&nbsp;员工类别&nbsp;
            <select class="easyui-combobox" id="employerTypeDetail" style="width:145px;">
                <option value="1" selected="true">试用期员工</option>
                <option value="2">实习期员工</option>
                <option value="3">临时雇员</option>
                <option value="0">正式员工</option>
            </select>
            &nbsp;&nbsp;在职状态&nbsp;
            <select class="easyui-combobox" id="onJobStateDetail" style="width:80px;">
                <option value="0">在职</option>
                <option value="0">离职中</option>
                <option value="0">已离职</option>
            </select>
            &nbsp;&nbsp;入职时间&nbsp;<input id="entryCompanyTimeDetail" class="easyui-datebox" data-options="editable:false" style="width:100px" />
        </p>
        <p>
            &nbsp;&nbsp;最高学历&nbsp;
            <select class="easyui-combobox" id="highestEducationDetail" style="width:90px;">
                <option value="0">小学</option>
                <option value="1">初中</option>
                <option value="2">高中</option>
                <option value="3">中转</option>
                <option value="4">高职</option>
                <option value="5">大专</option>
                <option value="6">本科</option>
                <option value="7">硕士研究生</option>
                <option value="8">博士研究生</option>
            </select>
            &nbsp;&nbsp;毕业院校&nbsp;<input id="graduatedSchoolDetail" type="text" class="textbox" style="width:135px;" />
            &nbsp;&nbsp;毕业时间&nbsp;<input id="graduatedDateDetail" class="easyui-datebox" data-options="editable:false" style="width:100px" />
        </p>
        <p>
            &nbsp;&nbsp;紧急联系人&nbsp;<input id="emergencyContactPeopleDetail" type="text" class="textbox" style="width:110px;" />
            &nbsp;&nbsp;紧急联系人手机&nbsp;<input id="emergencyContactPeoplePhoneDetail" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>&nbsp;&nbsp;员工备注</p>
        <p align="center">
            <textarea id="employerRemarkDetail" style="width:690px; height: 70px;" />
        </p>
    </div>
</form>

<form id="editUserForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:750,title:'人员信息调整',modal:true,closed:true,cache:false,iconCls:'icon-edit-yellow',
       onClose:function () {
            $('#editUserForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    editUserFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#editUserForm').dialog('close');
					}
				}]">
    <div style="overflow-y: auto; height: 330px;">
        <p>
            &nbsp;&nbsp;姓名&nbsp;<input id="employerNameEdit" type="text" class="textbox" style="width:85px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;性别&nbsp;<input id="genderEdit" type="text" class="textbox" style="width:50px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;身份证号&nbsp;<input id="idCardNoEdit" type="text" class="textbox" style="width:140px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;生日&nbsp;<input id="birthdayDateEdit" type="text" class="textbox" style="width:100px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;手机&nbsp;<input id="phoneEdit" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>
            &nbsp;&nbsp;籍贯&nbsp;<input id="nativePlaceEdit" type="text" class="textbox" style="width:300px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;现住地址&nbsp;<input id="nowPlaceEdit" type="text" class="textbox" style="width:300px;" />
        </p>
        <p>
            &nbsp;&nbsp;部门&nbsp;<input id="departmentEdit" type="text" class="textbox" style="width:145px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;职位&nbsp;<input id="positionEdit" type="text" class="textbox" style="width:145px; background: #CCCCCC;" readonly="readonly" />
        </p>
        <p>
            &nbsp;&nbsp;员工类别&nbsp;<input id="employerTypeEdit" type="text" class="textbox" style="width:145px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;在职状态&nbsp;<input id="onJobStateEdit" type="text" class="textbox" style="width:80px; background: #CCCCCC;" readonly="readonly" />
            &nbsp;&nbsp;入职时间&nbsp;<input id="entryCompanyTimeEdit" type="text" class="textbox" style="width:80px; background: #CCCCCC;" readonly="readonly" />
        </p>
        <p>
            &nbsp;&nbsp;最高学历&nbsp;
            <select class="easyui-combobox" id="highestEducationEdit" style="width:90px;">
                <option value="0" selected="true">小学</option>
                <option value="1">初中</option>
                <option value="2">高中</option>
                <option value="3">中专</option>
                <option value="4">高职</option>
                <option value="5">大专</option>
                <option value="6">本科</option>
                <option value="7">硕士研究生</option>
                <option value="8">博士研究生</option>
            </select>
            &nbsp;&nbsp;毕业院校&nbsp;<input id="graduatedSchoolEdit" type="text" class="textbox" style="width:135px;" />
            &nbsp;&nbsp;毕业时间&nbsp;<input id="graduatedDateEdit" class="easyui-datebox" data-options="editable:false" style="width:100px" />
        </p>
        <p>
            &nbsp;&nbsp;紧急联系人&nbsp;<input id="emergencyContactPeopleEdit" type="text" class="textbox" style="width:110px;" />
            &nbsp;&nbsp;紧急联系人手机&nbsp;<input id="emergencyContactPeoplePhoneEdit" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>&nbsp;&nbsp;员工备注</p>
        <p align="center">
            <textarea id="employerRemarkEdit" style="width:690px; height: 70px;" />
        </p>
    </div>
</form>

</body>
</html>