<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script type="text/javascript" th:inline="none">
        function searchEmployerSalaryPaid() {
            var salaryDate = "";
            var year =$('#salaryYearSearch').val();
            if (year != null && year != "") {
                var month = $('#salaryMonthSearch').datetimebox('getValue');
                salaryDate = year + "-" + month;
            }
            var result = ajaxSynchPostJson("user/employerSalaryPaidEntry/search", {
                "employerName": $('#employerNameSearch').val(),
                "phone": $('#employerPhoneSearch').val(),
                "idCardNo": $('#employerIdCardNoSearch').val(),
                "salaryDate": salaryDate,
                "page":1, "rows":10
            });
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
                $("#companyTotalSpendShow").text(result.data.otherData);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'salaryDate',
                        title : '工资日期',
                        width : 40
                    },
                    {
                        field : 'employerName',
                        title : '姓名',
                        width : 35
                    },
                    {
                        field : 'idCardNo',
                        title : '身份证',
                        width : 80
                    },
                    {
                        field : 'totalPaidAmount',
                        title : '总支付金额',
                        width : 35
                    },
                    {
                        field : 'paidSalaryAmount',
                        title : '支付工资',
                        width : 35
                    },
                    {
                        field : 'paidSubsidyAmount',
                        title : '支付补贴',
                        width : 35
                    },
                    {
                        field : 'deductionAmount',
                        title : '扣款金额',
                        width : 35
                    },
                    {
                        field : 'socialPersonalPaid',
                        title : '社保个人承担',
                        width : 50
                    },
                    {
                        field : 'socialCompanyPaid',
                        title : '社保企业承担',
                        width : 50
                    },
                    {
                        field : 'accumulationPersonalPaid',
                        title : '公积金个人承担',
                        width : 55
                    },
                    {
                        field : 'accumulatioCompanyPaid',
                        title : '公积金企业承担',
                        width : 55
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var salaryDate = "";
                    var year =$('#salaryYearSearch').val();
                    if (year != null && year != "") {
                        var month = $('#salaryMonthSearch').datetimebox('getValue');
                        salaryDate = year + "-" + month;
                    }
                    var result = ajaxSynchPostJson("user/employerSalaryPaidEntry/search", {
                        "employerName": $('#employerNameSearch').val(),
                        "phone": $('#employerPhoneSearch').val(),
                        "idCardNo": $('#employerIdCardNoSearch').val(),
                        "salaryDate": salaryDate,
                        "page":pageNumber, "rows":pageSize
                    });
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function detailSalaryShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            var result = ajaxSynchGet("user/employerSalaryPaidEntry/getEmployerSalaryPaid", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }

            $("#employerNameDetail").val(result.data.employer.employerName);
            $('#genderDetail').val(result.data.employer.gender == '0' ? "男" : "女");
            $('#idCardNoDetail').val(result.data.employer.idCardNo);
            $('#phoneDetail').val(result.data.employer.phone);

            $('#entryCompanyTimeDetail').val(result.data.employer.entryCompanyTime);
            $('#becomeRegularTimeDetail').val(result.data.employer.becomeRegularTime);
            $('#quitTimeDetail').val(result.data.employer.quitTime);

            $('#departmentDetail').val(result.data.department);
            $('#positionDetail').val(result.data.position);

            $("#salaryAmountDetail").numberbox('setValue', result.data.salaryAmount);
            $("#subsidyAmountDetail").numberbox('setValue', result.data.subsidyAmount);

            $("#paidSalaryAmountDetail").numberbox('setValue', result.data.paidSalaryAmount);
            $("#paidSubsidyAmountDetail").numberbox('setValue', result.data.paidSubsidyAmount);

            $("#socialSecurityAmountPersonalDetail").numberbox('setValue', result.data.socialPersonalPaid);
            $("#socialSecurityAmountCompanyDetail").numberbox('setValue', result.data.socialCompanyPaid);

            $("#accumulationFundAmountPersonalDetail").numberbox('setValue', result.data.accumulationPersonalPaid);
            $("#accumulationFundAmountCompanyDetail").numberbox('setValue', result.data.accumulatioCompanyPaid);

            $("#deductionAmountDetail").numberbox('setValue', result.data.deductionAmount);
            $("#deductionRemarkDetail").val(result.data.deductionRemark);

            $("#entryUserRemarkDetail").val(result.data.entryUserRemark);

            $('#detailSalaryForm').dialog('open');
        }

        function importSalaryShow() {
            $('#importSalaryForm').dialog('open');
        }

        function importSalaryFormCommit() {
            if ($("#salaryExcelFile").val() == '') {
                alertWarn("未选择文件！");
            }
            var result = ajaxSynchUploadFilePost("user/employerSalaryPaidEntry/importFile",
                    [
                        {key:"salaryExcelFile", value:"#salaryExcelFile"}
                    ],
                    []
            );
            if (result.code == '200') {
                $('#importSalaryForm').dialog('close');
                searchEmployerSalaryPaid();
                alertSuccess();
            } else {
                alertWarn(result.msg);
            }
        }

        function downloadSalaryTemplate() {
            window.location.href = urlHandleContext("user/employerSalaryPaidEntry/exportFileSalaryTemplate");
        }

        function webPageInit() {
            var year = new Date().Format("yyyy");
            var month = new Date().Format("MM");
            $("#salaryYearSearch").val(year);
            $('#salaryMonthSearch').combobox('setValue', month);
        }

        $(function () {
            dataGridInit();
            searchEmployerSalaryPaid();
            webPageInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="importSalaryShow()"><font size="2">导入</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="detailSalaryShow()"><font size="2">查看</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-nav" plain="true" onclick="downloadSalaryTemplate()"><font size="2">未离职员工发薪模板下载</font></a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            <font size="2" style="vertical-align: middle;">姓名</font>&nbsp;&nbsp;<input type="text" class="textbox" id="employerNameSearch" style="width:100px" />&nbsp;&nbsp;
            <font size="2">手机号</font>&nbsp;&nbsp;<input type="text" class="textbox" id="employerPhoneSearch" style="width:100px" />&nbsp;&nbsp;
            <font size="2">身份证</font>&nbsp;&nbsp;<input type="text" class="textbox" id="employerIdCardNoSearch" style="width:100px" />&nbsp;&nbsp;
            <font size="2" style="vertical-align: middle;">工资日期</font>&nbsp;&nbsp;
            <input id="salaryYearSearch" placeholder="年份" type="text" class="textbox" style="width:50px" />&nbsp;
            <select id="salaryMonthSearch" class="easyui-combobox" style="width:50px;">
                <option value="01">1月</option>
                <option value="02">2月</option>
                <option value="02">3月</option>
                <option value="02">4月</option>
                <option value="02">5月</option>
                <option value="02">6月</option>
                <option value="02">7月</option>
                <option value="02">8月</option>
                <option value="02">9月</option>
                <option value="02">10月</option>
                <option value="02">11月</option>
                <option value="02">12月</option>
            </select>&nbsp;&nbsp;
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEmployerSalaryPaid()">查询</a>&nbsp;&nbsp;
            <font size="2">公司总支付</font>&nbsp;&nbsp;<span id="companyTotalSpendShow"/>
        </div>
    </div>
</table>

<form id="detailSalaryForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:750,title:'查看',modal:true,closed:true,cache:false,iconCls:'icon-tip',
       onClose:function () {
            $('#detailSalaryForm').form('reset');
       }">
    <div style="overflow-y: auto; height: 330px;">
        <p>
            &nbsp;&nbsp;姓名&nbsp;<input id="employerNameDetail" type="text" class="textbox" style="width:85px;" />
            &nbsp;&nbsp;性别&nbsp;<input id="genderDetail" type="text" style="width:50px;" />
            &nbsp;&nbsp;身份证号&nbsp;<input id="idCardNoDetail" type="text" class="textbox" style="width:140px;" />
            &nbsp;&nbsp;手机&nbsp;<input id="phoneDetail" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>
            &nbsp;&nbsp;入职时间&nbsp;<input id="entryCompanyTimeDetail" type="text" class="textbox" style="width:100px;" />
            &nbsp;&nbsp;转正日期&nbsp;<input id="becomeRegularTimeDetail" type="text" class="textbox" style="width:103px;" />
            &nbsp;&nbsp;离职日期&nbsp;<input id="quitTimeDetail" type="text" class="textbox" style="width:103px;" />
        </p>
        <p>
            &nbsp;&nbsp;本月所在部门&nbsp;<input id="departmentDetail" type="text" class="textbox" style="width:140px;" />
            &nbsp;&nbsp;本月所在职位&nbsp;<input id="positionDetail" type="text" class="textbox" style="width:140px;" />
        </p>
        <p>
            &nbsp;&nbsp;本月岗位工资&nbsp;<input id="salaryAmountDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:115px;" />
            &nbsp;&nbsp;本月岗位补贴&nbsp;<input id="subsidyAmountDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:117px;" />
        </p>
        <p>
            &nbsp;&nbsp;本月实发工资&nbsp;<input id="paidSalaryAmountDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:115px;" />
            &nbsp;&nbsp;本月实发补贴&nbsp;<input id="paidSubsidyAmountDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:117px;" />
            &nbsp;&nbsp;本月扣款金额&nbsp;<input id="deductionAmountDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:80px;" />
        </p>
        <p>
            &nbsp;&nbsp;本月社保个人部分&nbsp;<input id="socialSecurityAmountPersonalDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:93px;" />
            &nbsp;&nbsp;本月社保企业部分&nbsp;<input id="socialSecurityAmountCompanyDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:91px;" />
        </p>
        <p>
            &nbsp;&nbsp;本月公积金个人部分&nbsp;<input id="accumulationFundAmountPersonalDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:80px;" />
            &nbsp;&nbsp;本月公积金企业部分&nbsp;<input id="accumulationFundAmountCompanyDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:80px;" />
        </p>
        <p>&nbsp;&nbsp;本月扣款备注</p>
        <p align="center">
            <textarea id="deductionRemarkDetail" style="width:695px; height: 50px;" />
        </p>
        <p>&nbsp;&nbsp;本月工资备注</p>
        <p align="center">
            <textarea id="entryUserRemarkDetail" style="width:695px; height: 50px;" />
        </p>
    </div>
</form>

<form id="importSalaryForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'导入',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#importSalaryForm').form('reset');
       },
		buttons:[{
					text : '上传',
					iconCls : 'icon-add-green',
					handler : function () {
                    importSalaryFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#importSalaryForm').dialog('close');
					}
				}]">
    <p><input id="salaryExcelFile" type="file"/></p>
    <p>注意：导入只会新增员工发薪记录，不会更新。</p>
</form>

</body>
</html>