<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function searchEmployer() {
            var result = ajaxSynchPostJson("user/employerEntry/search", {"employerName": $('#employerNameSearch').val(), "phone": $('#employerPhoneSearch').val(), "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'employerName',
                        title : '姓名',
                        width : 70
                    },
                    {
                        field : 'gender',
                        title : '性别',
                        width : 25,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "男";
                            } else {
                                return "女";
                            }
                        }
                    },
                    {
                        field : 'phone',
                        title : '手机号',
                        width : 100
                    },
                    {
                        field : 'position',
                        title : '职位',
                        width : 100
                    },
                    {
                        field : 'employerTypeStr',
                        title : '员工类别',
                        width : 70
                    },
                    {
                        field : 'onJobStateStr',
                        title : '在职状态',
                        width : 50
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/employerEntry/search", {"employerName": $('#employerNameSearch').val(), "phone": $('#employerPhoneSearch').val(), "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function addEmployerShow() {
            alert("111");
        }

        function editEmployerShow() {
            alert("222");
        }

        function deleteEmployer() {
            alert("333");
        }

        function importUser() {
            alert("444");
        }

        function downloadUser() {
            window.location.href = contextPath + 'static/download/员工信息登记表.xlsx';
        }

        $(function () {
            dataGridInit();
            searchEmployer();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addEmployerShow()">新增</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editEmployerShow()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="deleteEmployer()">删除</a>
            <br />
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="importUser()">导入</a>
            <a href="#" class="easyui-linkbutton" plain="true" onclick="downloadUser()">下载模板</a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            姓名：<input type="text" class="textbox" id="employerNameSearch" style="width:160px" />
            手机号：<input type="text" class="textbox" id="employerPhoneSearch" style="width:160px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEmployer()">查询</a>
        </div>
    </div>
</table>

</body>
</html>