<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function searchEntry() {
            var result = ajaxSynchPostJson("user/financeInOutEntry/search", {
                "startDate": $('#startDateSearch').datetimebox('getValue'),
                "endDate": $('#endDateSearch').datetimebox('getValue'),
                "entryType": $('#entryTypeSearch').combobox('getValue'),
                "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'entryHappenDate',
                        title : '费用发生时间',
                        width : 100
                    },
                    {
                        field : 'entryName',
                        title : '费用名称',
                        width : 100
                    },
                    {
                        field : 'entryType',
                        title : '费用类别',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "营业额";
                            } else if (value == 1){
                                return "支出";
                            } else {
                                return "利润";
                            }
                        }
                    },
                    {
                        field : 'entryAmount',
                        title : '费用金额',
                        width : 100
                    },
                    {
                        field : 'entryUserName',
                        title : '录入人员',
                        width : 100
                    },
                    {
                        field : 'createDate',
                        title : '录入时间',
                        width : 100
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/financeInOutEntry/search", {
                        "startDate": $('#startDateSearch').datetimebox('getValue'),
                        "endDate": $('#endDateSearch').datetimebox('getValue'),
                        "entryType": $('#entryTypeSearch').combobox('getValue'),
                        "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function addEntryShow() {
            $('#addUserForm').dialog('open');
        }

        function addEntryCommit() {
            var param = {
                "employerName": $("#employerNameAdd").val(),
                "gender": $('#genderAdd').combobox('getValue'),
                "idCardNo": $("#idCardNoAdd").val(),
                "birthdayDate": $('#birthdayDateAdd').datetimebox('getValue'),
                "phone": $("#phoneAdd").val(),
                "nativePlace": $("#nativePlaceAdd").val(),
                "nowPlace": $("#nowPlaceAdd").val(),
                "department": $("#departmentAdd").val(),
                "position": $("#positionAdd").val(),
                "employerType": $('#employerTypeAdd').datetimebox('getValue'),
                "onJobState": $('#onJobStateAdd').datetimebox('getValue'),
                "entryCompanyTime": $('#entryCompanyTimeAdd').datetimebox('getValue'),
                "highestEducation": $('#highestEducationAdd').combobox('getValue'),
                "graduatedSchool": $("#graduatedSchoolAdd").val(),
                "graduatedDate": $('#graduatedDateAdd').datetimebox('getValue'),
                "emergencyContactPeople": $("#emergencyContactPeopleAdd").val(),
                "emergencyContactPeoplePhone": $("#emergencyContactPeoplePhoneAdd").val(),
                "employerRemark": $("#employerRemarkAdd").val()
            };
            var result = ajaxSynchPostJson("user/financeInOutEntry/add", param);
            if (result.code == '200') {
                alertSuccess();
                $('#addUserForm').dialog('close');
                searchEmployer();
            } else {
                alertWarn(result.msg);
            }
        }

        function detailEntryShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            var result = ajaxSynchGet("user/financeInOutEntry/getDetail", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }

            $("#employerNameDetail").val(result.data.employerName);

            $('#detailEntryForm').dialog('open');
        }

        $(function () {
            dataGridInit();
            searchEntry();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addEntryShow()"><font size="2">新增</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="detailEntryShow()"><font size="2">查看</font></a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            <font size="2">开始时间</font>&nbsp;&nbsp;<input id="startDateSearch" class="easyui-datebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;
            <font size="2">结束时间</font>&nbsp;&nbsp;<input id="endDateSearch" class="easyui-datebox" data-options="editable:false" style="width:150px" />&nbsp;&nbsp;
            <font size="2">收支类别</font>&nbsp;&nbsp;
            <select class="easyui-combobox" id="entryTypeSearch" style="width:85px;">
                <option value="" selected="true">请选择</option>
                <option value="0">营业额</option>
                <option value="1">支出</option>
                <option value="2">利润</option>
            </select>&nbsp;&nbsp;

            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEntry()">查询</a>
        </div>
    </div>
</table>

<form id="addUserForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:750,title:'新增',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#addUserForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addUserFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#addUserForm').dialog('close');
					}
				}]">
    <div style="overflow-y: auto; height: 330px;">
        <p>
            &nbsp;&nbsp;姓名&nbsp;<input id="employerNameAdd" type="text" class="textbox" style="width:85px;" />
            &nbsp;&nbsp;性别&nbsp;
            <select class="easyui-combobox" id="genderAdd" style="width:50px;">
                <option value="0" selected="true">男</option>
                <option value="1">女</option>
            </select>
            &nbsp;&nbsp;身份证号&nbsp;<input id="idCardNoAdd" type="text" class="textbox" style="width:140px;" />
            &nbsp;&nbsp;生日&nbsp;<input id="birthdayDateAdd" class="easyui-datebox" data-options="editable:false" style="width:100px" />
            &nbsp;&nbsp;手机&nbsp;<input id="phoneAdd" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>
            &nbsp;&nbsp;籍贯&nbsp;<input id="nativePlaceAdd" type="text" class="textbox" style="width:300px;" />
            &nbsp;&nbsp;现住地址&nbsp;<input id="nowPlaceAdd" type="text" class="textbox" style="width:300px;" />
        </p>
        <p>
            &nbsp;&nbsp;最高学历&nbsp;
            <select class="easyui-combobox" id="highestEducationAdd" style="width:90px;">
                <option value="0" selected="true">小学</option>
                <option value="1">初中</option>
                <option value="2">高中</option>
                <option value="3">中专</option>
                <option value="4">高职</option>
                <option value="5">大专</option>
                <option value="6">本科</option>
                <option value="7">硕士研究生</option>
                <option value="8">博士研究生</option>
            </select>
            &nbsp;&nbsp;毕业院校&nbsp;<input id="graduatedSchoolAdd" type="text" class="textbox" style="width:135px;" />
            &nbsp;&nbsp;毕业时间&nbsp;<input id="graduatedDateAdd" class="easyui-datebox" data-options="editable:false" style="width:100px" />
        </p>
        <p>
            &nbsp;&nbsp;紧急联系人&nbsp;<input id="emergencyContactPeopleAdd" type="text" class="textbox" style="width:110px;" />
            &nbsp;&nbsp;紧急联系人手机&nbsp;<input id="emergencyContactPeoplePhoneAdd" type="text" class="textbox" style="width:100px;" />
        </p>
        <p>
            &nbsp;&nbsp;入职时间&nbsp;<input id="entryCompanyTimeAdd" class="easyui-datebox" data-options="editable:false" style="width:100px" />
        </p>
        <p>
            &nbsp;&nbsp;所在部门&nbsp;<input id="departmentAdd" type="text" class="textbox" style="width:140px;" />
            &nbsp;&nbsp;所在职位&nbsp;<input id="positionAdd" type="text" class="textbox" style="width:140px;" />
            &nbsp;&nbsp;员工类别&nbsp;
            <select class="easyui-combobox" id="employerTypeAdd" style="width:85px;">
                <option value="1" selected="true">试用期员工</option>
                <option value="2">实习期员工</option>
                <option value="3">临时雇员</option>
                <option value="0">正式员工</option>
            </select>
            &nbsp;&nbsp;在职状态&nbsp;
            <select class="easyui-combobox" id="onJobStateAdd" style="width:70px;">
                <option value="0" selected="true">在职</option>
            </select>
        </p>
        <p>&nbsp;&nbsp;员工备注</p>
        <p align="center">
            <textarea id="employerRemarkAdd" style="width:690px; height: 70px;" />
        </p>
    </div>
</form>

<form id="detailEntryForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:750,title:'查看',modal:true,closed:true,cache:false,iconCls:'icon-tip',
       onClose:function () {
            $('#detailUserForm').form('reset');
       }">
    <div style="overflow-y: auto; height: 330px;">
        <p>
            &nbsp;&nbsp;费用产生时间&nbsp;<input id="entryHappenDate" type="text" class="textbox" style="width:300px;" />
            &nbsp;&nbsp;费用名称&nbsp;<input id="entryName" type="text" class="textbox" style="width:300px;" />
        </p>
        <p>&nbsp;&nbsp;员工备注</p>
        <p align="center">
            <textarea id="employerRemarkDetail" style="width:690px; height: 70px;" />
        </p>
    </div>
</form>

</body>
</html>