<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script type="text/javascript" th:inline="none">
        function searchEntry() {
            var result = ajaxSynchPostJson("user/financeInOutEntry/search", {
                "startDate": $('#startDateSearch').datetimebox('getValue'),
                "endDate": $('#endDateSearch').datetimebox('getValue'),
                "entryType": $('#entryTypeSearch').combobox('getValue'),
                "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'entryHappenDate',
                        title : '费用发生时间',
                        width : 100
                    },
                    {
                        field : 'entryName',
                        title : '费用名称',
                        width : 100
                    },
                    {
                        field : 'entryType',
                        title : '费用类别',
                        width : 100,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "支出";
                            } else if (value == 1){
                                return "营收";
                            } else {
                                return "利润";
                            }
                        }
                    },
                    {
                        field : 'entryAmount',
                        title : '费用金额',
                        width : 100
                    },
                    {
                        field : 'entryUserName',
                        title : '录入人员',
                        width : 100
                    },
                    {
                        field : 'createDate',
                        title : '录入时间',
                        width : 100
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/financeInOutEntry/search", {
                        "startDate": $('#startDateSearch').datetimebox('getValue'),
                        "endDate": $('#endDateSearch').datetimebox('getValue'),
                        "entryType": $('#entryTypeSearch').combobox('getValue'),
                        "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function addEntryShow() {
            $('#addEntryForm').dialog('open');
        }

        function addEntryFormCommit() {
            var param = {
                "entryName": $("#entryNameEdit").val(),
                "entryAmount": $("#entryAmountEdit").val(),
                "entryType": $('#entryTypeEdit').combobox('getValue'),
                "entryHappenDate": $('#entryHappenDateEdit').datetimebox('getValue'),
                "entryDesc": $("#entryDescEdit").val(),
                "entryUserRemark": $("#entryUserRemarkEdit").val()
            };
            var result = ajaxSynchPostJson("user/financeInOutEntry/add", param);
            if (result.code == '200') {
                alertSuccess();
                $('#addEntryForm').dialog('close');
                searchEntry();
            } else {
                alertWarn(result.msg);
            }
        }

        function detailEntryShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length == 0) {
                alertWarn("请先选中记录！");
                return;
            }
            var result = ajaxSynchGet("user/financeInOutEntry/getDetail", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }

            $("#entryNameDetail").val(result.data.entryName);
            $("#entryAmountDetail").numberbox('setValue', result.data.entryAmount);
            if (result.data.entryType == 0) {
                $('#entryTypeDetail').val("支出");
            } else if (result.data.entryType == 1) {
                $('#entryTypeDetail').val("营收");
            } else {
                $('#entryTypeDetail').val("利润");
            }
            $("#entryHappenDateDetail").val(result.data.entryHappenDate);
            $("#entryUserNameDetail").val(result.data.entryUserName);
            $("#entryDescDetail").val(result.data.entryDesc);
            $("#entryUserRemarkDetail").val(result.data.entryUserRemark);

            $('#detailEntryForm').dialog('open');
        }

        $(function () {
            dataGridInit();
            searchEntry();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addEntryShow()"><font size="2">新增</font></a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="detailEntryShow()"><font size="2">查看</font></a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            <font size="2">开始时间</font>&nbsp;&nbsp;<input id="startDateSearch" class="easyui-datebox" data-options="editable:false" style="width:100px" />&nbsp;&nbsp;
            <font size="2">结束时间</font>&nbsp;&nbsp;<input id="endDateSearch" class="easyui-datebox" data-options="editable:false" style="width:100px" />&nbsp;&nbsp;
            <font size="2">收支类别</font>&nbsp;&nbsp;
            <select class="easyui-combobox" id="entryTypeSearch" style="width:85px;">
                <option value="" selected="true">请选择</option>
                <option value="0">支出</option>
                <option value="1">营收</option>
                <option value="2">利润</option>
            </select>&nbsp;&nbsp;

            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEntry()">查询</a>
        </div>
    </div>
</table>

<form id="addEntryForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:650,title:'新增',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#addEntryForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addEntryFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#addEntryForm').dialog('close');
					}
				}]">
    <p>
        &nbsp;&nbsp;费用名称&nbsp;<input id="entryNameEdit" type="text" class="textbox" style="width:550px;" />
    </p>
    <p>
        &nbsp;&nbsp;费用金额&nbsp;<input id="entryAmountEdit" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:85px;" />
        &nbsp;&nbsp;费用类别&nbsp;
        <select class="easyui-combobox" id="entryTypeEdit" style="width:85px;">
            <option value="0" selected="true">支出</option>
            <option value="1">营收</option>
            <option value="2">利润</option>
        </select>
        &nbsp;&nbsp;费用产生时间&nbsp;<input id="entryHappenDateEdit" class="easyui-datebox" data-options="editable:false" style="width:100px" />
    </p>
    <p>&nbsp;&nbsp;费用描述</p>
    <p align="center">
        <textarea id="entryDescEdit" style="width:610px; height: 60px;" />
    </p>
    <p>&nbsp;&nbsp;备注</p>
    <p align="center">
        <textarea id="entryUserRemarkEdit" style="width:610px; height: 60px;" />
    </p>
</form>

<form id="detailEntryForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="width:650,title:'新增',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#detailEntryForm').form('reset');
       }">
    <p>
        &nbsp;&nbsp;费用名称&nbsp;<input id="entryNameDetail" type="text" class="textbox" style="width:550px;" />
    </p>
    <p>
        &nbsp;&nbsp;费用金额&nbsp;<input id="entryAmountDetail" type="text" class="easyui-numberbox" data-options="min:0,precision:2" style="width:85px;" />
        &nbsp;&nbsp;费用类别&nbsp;<input id="entryTypeDetail" type="text" style="width:85px;" />
        &nbsp;&nbsp;费用产生时间&nbsp;<input id="entryHappenDateDetail" type="text" style="width:100px" />
    </p>
    <p>
        &nbsp;&nbsp;费用录入用户&nbsp;<input id="entryUserNameDetail" type="text" style="width:100px;" />
    </p>
    <p>&nbsp;&nbsp;费用描述</p>
    <p align="center">
        <textarea id="entryDescDetail" style="width:610px; height: 60px;" />
    </p>
    <p>&nbsp;&nbsp;备注</p>
    <p align="center">
        <textarea id="entryUserRemarkDetail" style="width:610px; height: 60px;" />
    </p>
</form>

</body>
</html>