<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <!-- flow chart start -->
    <link rel="stylesheet" th:href="@{/static/flowChart/css/jquery.orgchart.css}"></link>
    <link rel="stylesheet" th:href="@{/static/flowChart/css/font-awesome.min.css}"></link>
    <link rel="stylesheet" th:href="@{/static/flowChart/css/style.css}"></link>
    <style type="text/css">
        .orgchart { background: #fff; }
        .orgchart .node .title { background-color: #006699; }
        .orgchart .node .content { border-color: #006699; }
    </style>
    <script th:src="@{/static/flowChart/js/jquery.orgchart.js}"></script>
    <!-- flow chart end -->
    <script th:inline="javascript">

        $(function () {

        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            &nbsp;&nbsp;
            模板名称：<input type="text" class="textbox" id="templateNameSearch" style="width:180px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchTemplate()">查询</a>
        </div>

        <div>
            <div style="float:left; width: 25%">
                <ul id="templateTree"/>
            </div>
            <div style="float:left; width: 73%">
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="startFlowInstance()">启动流程</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="undoFlowInstance()">撤回流程</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="delFlowInstance(0)">删除流程</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="flowInstanceChartShow()">流程预览</a>
                </div>
                <div>
                    &nbsp;流程名称：<input type="text" class="textbox" id="flowInstanceNameSearch" style="width:180px" />
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchFlowInstance()">查询</a>
                </div>
                <ul id="templateNodeTree"/>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</table>

<div id="flowChartWindow" class="easyui-window" title="流程图" data-options="iconCls:'icon-save',minimizable:false,cache:false,closable:true,closed:true,resizable:true" style="width:750px;height:500px;">
    <div id="flowChartDiv"></div>
</div>
</body>
</html>