<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        var templateNodeArr = new Array();

        function templateTreeInit() {
            var result = ajaxSynchGet("user/flowTemplate/getTemplateTree", null);
            if (result.code == '200') {
                $('#templateTree').tree({
                    lines : true,
                    multiple : false,
                    checkbox : false,
                    data : result.data,
                    onSelect: function(template) {
                        var result = ajaxSynchGet("user/flowTemplate/getTemplateNodeTree", {"id": template.id});
                        if (result.code == '200') {
                            var status = result.data.status;
                            if (status == 0) { // 正常
                                $("#templateStatus").text("模板状态：正常");
                            } else { // 冻结
                                $("#templateStatus").text("模板状态：冻结");
                            }

                            var nodeList = result.data.nodeList;
                            $('#nodeTree').tree({
                                lines : true,
                                multiple : false,
                                checkbox : false,
                                data : nodeList,
                                onBeforeExpand: function(node) {
                                    if (templateNodeArr.indexOf(node.id) == -1) {
                                        openTemplateNode(template.id, node.pid);
                                    }
                                    //return true;
                                }
                            });
                        } else {
                            alertWarn(result.msg);
                        }
                    }
                });
            } else {
                alertWarn(result.msg);
            }
        }

        function openTemplateNode(templateId, pid) {

        }

        function addTemplateShow() {

        }

        function operateTemplateState(type) {

        }

        function addNode(type) {

        }

        function editNodeShow() {

        }

        function deleteNode() {

        }

        $(function () {
            templateTreeInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addTemplateShow()">新增模板</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="operateTemplateState(0)">冻结模板</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="operateTemplateState(1)">启用模板</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="operateTemplateState(2)">删除表单</a>
        </div>

        <div>
            <div style="float:left; width: 25%">
                <ul id="templateTree"/>
            </div>
            <div style="float:left; width: 73%">
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addNode(0)">新增一级节点</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addNode(1)">新增子项节点</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editNodeShow()">编辑</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="deleteNode()">删除</a>
                </div>
                <div style="margin-top: 10px;">
                    <span id="templateStatus" style="padding-left: 10px;"></span>
                </div>
                <ul id="nodeTree"/>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</table>

</body>
</html>