<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        var templateNodeArr = new Array();

        var templateNodeSaveType = -1;

        function templateTreeInit() {
            var result = ajaxSynchGet("user/flowTemplate/getTemplateTree", null);
            if (result.code == '200') {
                templateNodeArr = new Array();

                $('#templateTree').tree({
                    lines : true,
                    multiple : false,
                    checkbox : false,
                    data : result.data,
                    onSelect: function(template) {
                        templateNodeTreeInit(template.id, null);
                    }
                });
            } else {
                alertWarn(result.msg);
            }
        }

        function templateNodeTreeInit(templateId, totalCode) {
            var result = ajaxSynchGet("user/flowTemplate/getTemplatetemplateNodeTree", {"id": templateId, "pid":0});
            if (result.code == '200') {
                templateNodeArr = new Array();

                var status = result.data.status;
                if (status == 0) { // 正常
                    $("#templateStatus").text("模板状态：正常");
                } else { // 冻结
                    $("#templateStatus").text("模板状态：冻结");
                }

                var nodeList = result.data.templateNodeList;

                $('#templateNodeTree').tree({
                    lines : true,
                    multiple : false,
                    checkbox : false,
                    data : nodeList,
                    onBeforeExpand: function(node) {
                        if (templateNodeArr.indexOf(node.id) == -1) {
                            openTemplateNode(node, templateId, node.id);
                        }
                        //return true;
                    }
                });

                if (totalCode != null && totalCode != undefined && totalCode != "") {
                    var totalCodeArr = totalCode.split(',');
                    for (var x=0; x < totalCodeArr.length; x++) {
                        var node = $('#templateNodeTree').tree('find', totalCodeArr[x]);
                        if (x < (totalCodeArr.length - 1)) {
                            $('#templateNodeTree').tree('expand', node.target);
                        } else {
                            $('#templateNodeTree').tree('select', node.target);
                        }
                    }
                }
            } else {
                alertWarn(result.msg);
            }
        }

        function openTemplateNode(node, templateId, pid) {
            var result = ajaxSynchGet("user/flowTemplate/getTemplatetemplateNodeTree", {"id": templateId, "pid":pid});
            if (result.code == '200') {
                templateNodeArr.push(pid);
                $('#templateNodeTree').tree('append', {
                    parent : node.target,
                    data : result.data
                });
            } else {
                alertWarn(result.msg);
            }
        }

        function addTemplateShow() {
            $('#templateNameAddTemplateForm').dialog('open');
        }

        function addTemplateCommit() {
            var templateName = $('#templateNameAddTemplateForm').val();
            var result = ajaxSynchPostJson("user/flowTemplate/saveTemplate", {"templateName":templateName});
            if (result.code == '200') {
                $('#templateNameAddTemplateForm').dialog('close');

                $('#templateTree').tree('append', {
                    data : {
                        "id": result.data.id,
                        "text": result.data.templateName,
                        "state": "close",
                    }
                });

                alertSuccess();
            } else {
                alertWarn(result.msg);
            }
        }

        function operateTemplateState(type) {
            if (isTreeNodeSelected("templateTree")) {
                var templateId = getTreeSelectedNode("templateTree").id;

                var msg = ""
                if (type == 0) { // 冻结
                    msg = "确定要启用吗？";
                } else if (type == 1) { // 启用
                    msg = "确定要冻结吗？";
                } else if (type == 2) { // 删除
                    msg = "确定要删除吗？";
                }

                $.messager.confirm('确定操作', msg, function (flag) {
                    if (flag) {
                        var result = ajaxSynchPostJson("user/flowTemplate/operateTemplateState?id=" + templateId + "&type=" + type, null);
                        if (result.code == '200') {
                            if (type == 0) {
                                $("#templateStatus").text("模板状态：正常");
                            } else if (type == 1) {
                                $("#templateStatus").text("模板状态：冻结");
                            } else {
                                templateTreeInit();
                                $("#templateStatus").text("");
                                $('#templateNodeTree').tree({
                                    lines : true,
                                    multiple : false,
                                    checkbox : false
                                });
                            }
                        } else {
                            alertWarn(result.msg);
                        }
                    }
                });
            } else {
                alertWarn("请先选中模板！");
            }
        }

        function saveNodeShow(type) {
            if (!isTreeNodeSelected("templateTree")) {
                alertWarn("请先选中模板！");
                return;
            }

            templateNodeSaveType = type;

            if (type == 0) { // 新增一级节点
                $("#nodeNameNodeSave").val("");
                $("input:radio[name=nodeOperateTypeNodeSave][value=" + 0 + "]").prop("checked",true);
                $("#nodeInstructionNodeSave").val("");
            } else if (type == 1) { // 新增子项节点
                if (!isTreeNodeSelected("templateNodeTree")) {
                    alertWarn("请先选中上级节点！");
                    return;
                }
                $("#nodeNameNodeSave").val("");
                $("input:radio[name=nodeOperateTypeNodeSave][value=" + 0 + "]").prop("checked",true);
                $("#nodeInstructionNodeSave").val("");
            } else if (type == 2) { // 修改
                if (!isTreeNodeSelected("templateNodeTree")) {
                    alertWarn("请先选中节点！");
                    return;
                }
                var result = ajaxSynchGet("user/flowTemplate/getTemplateNodeDetail?id=" + id, null);
                if (result.code == '200') {
                    $("#nodeNameNodeSave").val(result.data.nodeName);
                    $("input:radio[name=nodeOperateTypeNodeSave][value=" + result.data.operateType + "]").prop("checked",true);
                    $("#nodeInstructionNodeSave").val(result.data.instruction);
                } else {
                    alertWarn(result.msg);
                    return;
                }
            }
            $('#saveTemplateNodeForm').dialog('open');
        }

        function saveTemplateNodeFormCommit() {
            if (!isTreeNodeSelected("templateTree")) {
                alertWarn("请先选中模板！");
                return;
            }

            var id = null;
            var pid = null;

            if (templateNodeSaveType == 0) { // 新增一级节点
                pid = 0;
            } else if (templateNodeSaveType == 1) { // 新增子项节点
                if (!isTreeNodeSelected("templateNodeTree")) {
                    alertWarn("请先选中上级节点！");
                    return;
                }
                pid = getTreeSelectedNode("templateNodeTree").id;
            } else if (templateNodeSaveType == 2) { // 修改
                if (!isTreeNodeSelected("templateNodeTree")) {
                    alertWarn("请先选中节点！");
                    return;
                }
                id = getTreeSelectedNode("templateNodeTree").id;
            }

            var templateId = getTreeSelectedNode("templateTree").id;

            var result = ajaxSynchPostJson("user/flowTemplate/saveTemplateNode", {
                "id": id,
                "nodeName": $("#nodeNameNodeSave").val(),
                "templateId": templateId,
                "pid": pid,
                "operateType": $("input[name='nodeOperateTypeNodeSave']:checked").val(),
                "instruction": $("#nodeNameNodeSave").val()
            });
            if (result.code == '200') {
                templateNodeTreeInit(templateId, result.data.totalCode);
                alertSuccess();
            } else {
                alertWarn(result.msg);
            }
        }

        function deleteNode() {
            if (!isTreeNodeSelected("templateTree")) {
                alertWarn("请先选中模板！");
                return;
            }
            if (!isTreeNodeSelected("templateNodeTree")) {
                alertWarn("请先选中节点！");
                return;
            }

            var templateId = getTreeSelectedNode("templateTree").id;
            var nodeId = getTreeSelectedNode("templateNodeTree").id;
            var result = ajaxSynchPostJson("user/flowTemplate/deleteTemplateNode?templateId=" + templateId + "&nodeId=" + nodeId, null);
            if (result.code == '200') {
                var parentTotalCode = null;
                if (result.data != null) {
                    parentTotalCode = result.data.totalCode;
                }
                templateNodeTreeInit(templateId, result.data);
                alertSuccess();
            } else {
                alertWarn(result.msg);
            }
        }

        $(function () {
            templateTreeInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addTemplateShow()">新增模板</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="operateTemplateState(1)">冻结模板</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="operateTemplateState(0)">启用模板</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="operateTemplateState(2)">删除表单</a>
        </div>

        <div>
            <div style="float:left; width: 25%">
                <ul id="templateTree"/>
            </div>
            <div style="float:left; width: 73%">
                <div>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="saveNodeShow(0)">新增一级节点</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="saveNodeShow(1)">新增子项节点</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="saveNodeShow(2)">编辑</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="deleteNode()">删除</a>
                </div>
                <div style="margin-top: 10px;">
                    <span id="templateStatus" style="padding-left: 10px;"></span>
                </div>
                <ul id="templateNodeTree"/>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</table>

<form id="addTemplateForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'新增管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#addTemplateForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addTemplateCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#addTemplateForm').dialog('close');
					}
				}]">
    <p>模板名称：<input class="easyui-validatebox" type="text" id="templateNameAddTemplateForm" style="width:200px;" /></p>
</form>

<form id="saveTemplateNodeForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:150,width:320,title:'编辑管理',modal:true,closed:true,cache:false,iconCls:'icon-user-add',
       onClose:function () {
            $('#saveTemplateNodeForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    saveTemplateNodeFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#saveTemplateNodeForm').dialog('close');
					}
				}]">
    <p>节点名称：<input id="nodeNameNodeSave" class="easyui-validatebox" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入节点名',invalidMessage:'节点名长度至少为1位'" type="text" style="width:200px;" />
    <p>节点类型：<input name="nodeOperateTypeNodeSave" type="radio" value="0" checked="checked">抢占</input><input name="nodeOperateTypeNodeSave" type="radio" value="1">会签</input></p>
    <p>节点描述：<input id="nodeInstructionNodeSave" class="easyui-validatebox" type="text" style="width:200px; border: 1px solid #95B8E7" /></p>
</form>

</body>
</html>