<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function treeInit() {
            var result = ajaxSynchGet("user/formManage/getFormTree", null);
            if (result.code == '200') {
                $('#formTree').tree({
                    lines : true,
                    multiple : false,
                    checkbox : false,
                    data : result.data,
                    onSelect: function(node) {
//                        var result = ajaxSynchGet("user/dimensionManage/getDetail", {"id": node.id});
//                        if (result.code == '200') {
//                            var dim = result.data;
//                            $('#dimName').val(dim.dimensionName);
//                            if (node.dimensionLevel == 0) {
//                                $("#dataTypeP").hide();
//                            } else {
//                                $("#dataTypeGatherRadio").show();
//                                $("#dataTypeGatherSpan").show();
//                                $("#dataTypeP").show();
//                                $("input:radio[name=dataType][value=" + dim.dataType + "]").prop("checked",true);
//                            }
//
//                            selectDimId = dim.id;
//                        } else {
//                            alertWarn(result.msg);
//                        }
                    }
                });
            } else {
                alertWarn(result.msg);
            }
        }

        $(function () {
            treeInit();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addForm()">新增表单</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="deleteForm()">删除表单</a>
        </div>

        <div>
            <div style="float:left; width: 20%">
                <ul id="formTree"/>
            </div>
            <div style="float:left; width: 80%">
                <p style="margin-top: 0px;">
                    <font size="2">表单名称</font>&nbsp;&nbsp;<input id="dimName" type="text" style="width:200px;" />&nbsp;&nbsp;<input type="button" value="保存" onclick="commitSave()" />
                    <br/>
                    <br/>
                    <font size="2">
                        维度成员，拥有子项时，数据类型只能是聚集，且所有子项只能是数值 <br/>
                        维度成员，没有子项时，数据类型不能是聚集 <br/>
                    </font>
                </p>
                <div style="float:left; width: 44%;">
                    <div>
                        <font size="2">表单行维</font>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addForm()">新增维度</a>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addForm()">新增成员</a>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="deleteForm()">删除</a>
                    </div>
                    <div>
                        <p style="margin-top: 0px">维度名称&nbsp;<input id="dimName" type="text" style="width:200px;" /></p>
                        <p id="dataTypeP">数据类别
                            <input id="dataTypeNumber" name="dataType" type="radio" value="1">数值</input>
                            <input id="dataTypeText" name="dataType" type="radio" value="2">文本</input>
                            <input id="dataTypeGatherRadio" name="dataType" type="radio" value="0"><span id="dataTypeGatherSpan">聚集</span></input>
                        </p>
                        <p><input type="button" value="保存" onclick="commitSave()" /></p>
                    </div>
                    <ul id="rowDimTree"/>
                </div>
                <div style="float:left;width: 3px;height: 500px; background: darkgray;"></div>
                <div style="float:left; width: 48%">
                    <div>
                        &nbsp;&nbsp;&nbsp;<font size="2">表单列维</font>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addForm()">新增维度</a>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-add-green" plain="true" onclick="addForm()">新增成员</a>
                        <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="deleteForm()">删除</a>
                    </div>
                    <ul id="colDimTree"/>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</table>

</body>
</html>