<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <!-- flow chart start -->
    <link rel="stylesheet" th:href="@{/static/flowChart/css/jquery.orgchart.css}"></link>
    <link rel="stylesheet" th:href="@{/static/flowChart/css/font-awesome.min.css}"></link>
    <link rel="stylesheet" th:href="@{/static/flowChart/css/style.css}"></link>
    <style type="text/css">
        .orgchart { background: #fff; }
        .orgchart .node .title { background-color: #006699; }
        .orgchart .node .content { border-color: #006699; }
    </style>
    <script th:src="@{/static/flowChart/js/jquery.orgchart.js}"></script>
    <!-- flow chart end -->
    <style type="text/css">
        #noticeDiv a {text-decoration: none}
        #noticeDiv a:link {
            color: blue;
        }
        #noticeDiv a:active {
            color: blue;
        }
        #noticeDiv a:visited {
            color: blue;
        }
        #noticeDiv a:hover {
            color: blue;
        }
        .datagrid-header-row {
            text-align: center
        }
        #noticeContent {
            border: none;
        }
    </style>
    <script th:inline="javascript">
        function noticeDataGridInit() {
            $('#manager_notice').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                border : false,
                pagination : true,
                singleSelect:true,
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'title',
                        title : '<font size=3>公司公告</font>',
                        width : 100,
                        formatter: function(value,row,index){
                            return "<a href='#' onclick='showNotice(" + row.id + ")'><font size=2>" + value + "</font></a>";
                        }
                    }
                ]]
            });
        }

        function noticeDataGridPageInit() {
            var p = $('#manager_notice').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 5,
                pageList : [5, 10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/myIndexPage/searchNotice", {"page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager_notice').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function searchNotice() {
            var result = ajaxSynchPostJson("user/myIndexPage/searchNotice", {"page":1, "rows":5});
            if (result.code == '200') {
                noticeDataGridPageInit();
                $('#manager_notice').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function showNotice(id) {
            var result = ajaxSynchGet("user/myIndexPage/getNotice", {"id": id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }
            $("#noticeTitle").text(result.data.title);
            $("#noticeContent").text(result.data.content);
            $('#noticeShowWindow').window('open');

            $('#noticeContent').height($('#noticeShowWindow').height() - 95);
        }

        function indexPageNoticeInit() {
            var result = ajaxSynchGet("user/myIndexPage/getIndexPageShowNotice", null);
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }
            var systemValue = result.data.systemValue;
            if (systemValue == "true") {
                noticeDataGridInit();
                searchNotice();
            } else {
                $("#noticeDiv").hide();
            }
        }

        function waitingApprovalDataGridInit() {
            $('#manager_waiting_approval').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                border : false,
                toolbar : '#flowInstanceManager_tool',
                pagination : true,
                singleSelect:true,
                columns : [[
                    {
                        field : 'id',
                        hidden : true
                    },
                    {
                        field : 'userTaskId',
                        hidden : true
                    },
                    {
                        field : 'instanceName',
                        title : "<font size=3>待审批请求</font>",
                        width : 300,
                        formatter: function(value,row,index){
                            return "<font size=2>" + value + "</font>";
                        }
                    },
                    {
                        field : 'nodeName',
                        title : "<font size=3>待审批请求对应节点</font>",
                        width : 80,
                        formatter: function(value,row,index){
                            return "<font size=2>" + value + "</font>";
                        }
                    }
                ]]
            });
        }

        function waitingApprovalnoticeDataGridPageInit() {
            var p = $('#manager_waiting_approval').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/myIndexPage/searchWaitingApproval", {"page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager_waiting_approval').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function searchWaitingApproval() {
            var result = ajaxSynchPostJson("user/myIndexPage/searchWaitingApproval", {"page":1, "rows":10});
            if (result.code == '200') {
                waitingApprovalnoticeDataGridPageInit();
                $('#manager_waiting_approval').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function indexPageWaitingApprovalInit() {
            waitingApprovalDataGridInit();
            searchWaitingApproval();
        }

        function seeApplyContent() {
            var rows = $('#manager_waiting_approval').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }
            var result = ajaxSynchGet("user/myIndexPage/getFlowInstanceDetail", {"id": rows[0].id, "attachFileFlag": 1});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }

            $("#seeApplyTitle").val(result.data.instanceName);
            $("#seeApplyContent").val(result.data.applyContent);

            var attachFileHtml = "";
            if (result.data.attachFileList != null && result.data.attachFileList.length > 0) {
                var fileInfo;
                var fileHref;
                for(x = 0; x < result.data.attachFileList.length; x++) {
                    fileInfo = result.data.attachFileList[x];
                    fileHref = urlHandleContext("user/myIndexPage/exportFileFlowInstance") + "&instanceId=" + rows[0].id + "&fileId=" + fileInfo.id;
                    attachFileHtml = attachFileHtml + "<li><a href='" + fileHref + "'>" + fileInfo.oldFileName + "</a></li>";
                }
            }

            $("#seeAttachFile").html(attachFileHtml);

            $('#seeApplyForm').dialog('open');
        }

        function flowInstancePreviewShow() {
            var rows = $('#manager_waiting_approval').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }
            var result = ajaxSynchGet("user/myIndexPage/getFlowInstanceDetail", {"id": rows[0].id, "attachFileFlag": 0});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }
            var history = ajaxSynchPostJson("user/myIndexPage/getOperateInfo", {"id": rows[0].id, "page":1, "rows":10});
            if (history.code != '200') {
                alertWarn(history.msg);
                return;
            }
            var flowChart = ajaxSynchGet("user/myIndexPage/getFlowInstanceFlowChart", {"id": rows[0].id});
            if (flowChart.code != '200') {
                alertWarn(flowChart.msg);
                return;
            }

            $("#previewFlowInstanceName").text(result.data.instanceName);
            $("#previewFlowInstanceState").text(result.data.stateShow);
            $("#previewFlowInstanceStartUser").text(result.data.startUserName);
            $("#previewFlowInstanceStartDate").text(result.data.startTime);

            $("#previewFlowInstanceChartDiv").empty();

            if (flowChart.data.name != null && flowChart.data.name != '') {
                $('#previewFlowInstanceChartDiv').orgchart({
                    'data': flowChart.data,
                    'nodeContent': 'content',
                    'createNode': function (node, nodeData) {
                        var nodeDom = $(node);

                        if (nodeData.name != null && nodeData.name != '') {
                            $('.title', nodeDom).attr('title', nodeData.name);
                        }
                        if (nodeData.content != null && nodeData.content != '') {
                            $('.content', nodeDom).attr("title", nodeData.content);
                        }
                    }
                });
            }

            $('#previewFlowInstanceManager').datagrid({
                //fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'createDate',
                        title : '操作时间',
                        width : 50
                    },
                    {
                        field : 'operateUserUserName',
                        title : '操作用户',
                        width : 50
                    },
                    {
                        field : 'operateInfo',
                        title : '操作信息',
                        width : 300
                    }
                ]]
            });

            var p = $('#previewFlowInstanceManager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var h = ajaxSynchPostJson("user/myIndexPage/getOperateInfo", {"id": rows[0].id, "page":pageNumber, "rows":pageSize});
                    if (h.code == '200') {
                        $('#previewFlowInstanceManager').datagrid('loadData', h.data);
                    }
                },
            });
            $('#previewFlowInstanceManager').datagrid('loadData', history.data);

            $('#flowInstancePreviewWindow').window('open');
        }

        function approvalApplyShow() {
            $('#approvalApplyForm').dialog('open');
        }

        function approvalApplyCommit() {
            var rows = $('#manager_waiting_approval').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }
            var result = ajaxSynchPostJson("user/myIndexPage/approvalApply", {
                "id": rows[0].id,
                "userTaskId": rows[0].userTaskId,
                "approvalApplyOperateType": $("input[name='approvalApplyOperateType']:checked").val(),
                "approvalApplyContent": $("#approvalApplyContent").val()
            });
            if (result.code == '200') {
                $('#approvalApplyForm').dialog('close');
                searchWaitingApproval();
                alertSuccess();
            } else {
                if (result.code == '500'){
                    $('#approvalApplyForm').dialog('close');
                    searchWaitingApproval();
                }
                alertWarn(result.msg);
            }
        }

        $(function () {
            indexPageNoticeInit();
            indexPageWaitingApprovalInit();
        });
    </script>
</head>
<body>
<div id="noticeDiv" style="height: 183px;">
    <table id="manager_notice"></table>
</div>
<div style="height: 338px; margin-top: 3px;">
    <table id="manager_waiting_approval">
        <div id="flowInstanceManager_tool">
            <div>
                <a href="#" class="easyui-linkbutton" iconCls="icon-nav" plain="true" onclick="seeApplyContent()"><font size="2">查看申请</font></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="flowInstancePreviewShow()"><font size="2">流程预览</font></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="approvalApplyShow()"><font size="2">进行审批</font></a>
            </div>
        </div>
    </table>
</div>

<div id="noticeShowWindow" class="easyui-window" title="公告" data-options="iconCls:'icon-tip',maximized:true,minimizable:false,cache:false,closable:true,closed:true,resizable:true" style="width:780px;height:450px;">
    <p align="center"><font color="black" size="4"><span id="noticeTitle""></span></font></p>
    <p align="center"><textarea id="noticeContent" readonly="readonly" style="width: 99%;" /></p>
</div>

<form id="seeApplyForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:60,width:785,title:'查看申请',modal:true,closed:true,cache:false,iconCls:'icon-nav',
       onClose:function () {
            $('#startApplyForm').form('reset');
       }">
    <p>标题：<input id="seeApplyTitle" type="text" class="textbox" style="width:675px" /></p>
    <p>内容：
        <br/>
        <textarea id="seeApplyContent" style="width:715px; height: 220px;" />
    </p>
    <ul id="seeAttachFile"></ul>
</form>

<div id="flowInstancePreviewWindow" class="easyui-window" title="流程预览" data-options="iconCls:'icon-tip',maximized:true,minimizable:false,cache:false,closable:true,closed:true,resizable:true" style="width:780px;height:450px;">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;流程名称：<span id="previewFlowInstanceName"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;流程状态：<span id="previewFlowInstanceState"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;启动用户：<span id="previewFlowInstanceStartUser"></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;启动时间：<span id="previewFlowInstanceStartDate"></span>
    </p>
    <div id="previewFlowInstanceChartDiv"></div>
    <table id="previewFlowInstanceManager"></table>
</div>

<form id="approvalApplyForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:60,width:720,title:'进行审批',modal:true,closed:true,cache:false,iconCls:'icon-ok',
       onClose:function () {
            $('#approvalApplyForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    approvalApplyCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#approvalApplyForm').dialog('close');
					}
				}]">
    <p>
        <input name="approvalApplyOperateType" type="radio" value="1" checked="checked">同意</input>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="approvalApplyOperateType" type="radio" value="0">拒绝</input>
    </p>
    <p>审批意见：
        <br/>
        <textarea id="approvalApplyContent" style="width:650px; height: 220px;" />
    </p>
</form>
</body>
</html>