<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <style type="text/css">
        #noticePreviewContent {
            border: none;
        }
    </style>

    <script th:inline="javascript">
        function searchNotice() {
            var result = ajaxSynchPostJson("user/publishNotice/searchNotice", {"page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'title',
                        title : '标题',
                        width : 300
                    },
                    {
                        field : 'status',
                        title : '状态',
                        width : 60,
                        formatter: function(value,row,index){
                            if (value == 0){
                                return "下架";
                            } else {
                                return "上架";
                            }
                        }
                    },
                    {
                        field : 'sort',
                        title : '排序',
                        width : 60
                    }
                ]]
            });
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/publishNotice/searchNotice", {"page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function addNoticeShow() {
            $('#addNoticeForm').dialog('open');
        }

        function addNoticeFormCommit() {
            var title = $("#addNoticeTitle").val();
            var content = $("#addNoticeContent").val();
            var status = $("input[name='addNoticeStatus']:checked").val();
            var sort = $("#addNoticeSort").val();
            if (title == '') {
                alertWarn("请填写标题！");
                return;
            }
            if (content == '') {
                alertWarn("请填写内容！");
                return;
            }
            var result = ajaxSynchPostJson("user/publishNotice/saveNotice", {
                "title": title,
                "content": content,
                "status": status,
                "sort": sort
            });
            if (result.code == '200') {
                $('#addNoticeForm').dialog('close');
                searchNotice();
                alertSuccess();
            } else {
                alertWarn(result.msg);
            }
        }

        function editNoticeShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }
            var result = ajaxSynchGet("user/publishNotice/getNotice", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }
            $("#editNoticeTitle").val(result.data.title);
            $("input:radio[name=editNoticeStatus][value=" + result.data.status + "]").prop("checked",true);
            $("#editNoticeSort").val(result.data.sort);
            $("#editNoticeContent").val(result.data.content);
            $('#editNoticeForm').dialog('open');
        }

        function editNoticeFormCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }
            var id = rows[0].id;
            var title = $("#editNoticeTitle").val();
            var content = $("#editNoticeContent").val();
            var status = $("input[name='editNoticeStatus']:checked").val();
            var sort = $("#editNoticeSort").val();
            var result = ajaxSynchPostJson("user/publishNotice/saveNotice", {
                "id": id,
                "title": title,
                "content": content,
                "status": status,
                "sort": sort
            });
            if (result.code == '200') {
                $('#editNoticeForm').dialog('close');
                searchNotice();
                alertSuccess();
            } else {
                alertWarn(result.msg);
            }
        }

        function deleteNotice() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }
            $.messager.confirm('确定操作', "确定删除吗？", function (flag) {
                if (flag) {
                    var result = ajaxSynchPostJson("user/publishNotice/deleteNotice?id=" + rows[0].id, null);
                    if (result.code == '200') {
                        searchNotice();
                        alertSuccess();
                    } else {
                        alertWarn(result.msg);
                    }
                }
            });
        }

        function peviewNotice() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length <= 0) {
                alertWarn("请先选择记录！");
                return;
            }

            var result = ajaxSynchGet("user/publishNotice/getNotice", {"id": rows[0].id});
            if (result.code != '200') {
                alertWarn(result.msg);
                return;
            }
            $("#noticePreviewTitle").text(result.data.title);
            $("#noticePreviewContent").text(result.data.content);
            $('#noticePreviewWindow').window('open');

            $('#noticePreviewContent').height($('#noticePreviewWindow').height() - 95);
        }

        $(function () {
            dataGridInit();
            searchNotice();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addNoticeShow()">发布</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit-yellow" plain="true" onclick="editNoticeShow()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="peviewNotice()">预览</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="deleteNotice()">删除</a>
        </div>
    </div>
</table>

<form id="addNoticeForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="title:'发布公告',maximized:true,modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#addNoticeForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    addNoticeFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#addNoticeForm').dialog('close');
					}
				}]">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;标题：<input id="addNoticeTitle" type="text" class="textbox" style="width:85%" /></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;状态：<input name="addNoticeStatus" type="radio" value="0" checked="checked">下架</input><input name="addNoticeStatus" type="radio" value="1">上架</input>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        排序：<input id="addNoticeSort" type="text" class="textbox" value="0" style="width:200px" />
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;内容：</p>
    <p align="center">
        <textarea id="addNoticeContent" style="width: 99%; height: 280px;" />
    </p>
</form>

<form id="editNoticeForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 0;color:#333;"
      data-options="title:'编辑公告',maximized:true,modal:true,closed:true,cache:false,iconCls:'icon-edit-yellow',
       onClose:function () {
            $('#editNoticeForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    editNoticeFormCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#editNoticeForm').dialog('close');
					}
				}]">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;标题：<input id="editNoticeTitle" type="text" class="textbox" style="width:85%" /></p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;状态：<input name="editNoticeStatus" type="radio" value="0" checked="checked">下架</input><input name="editNoticeStatus" type="radio" value="1">上架</input>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        排序：<input id="editNoticeSort" type="text" class="textbox" value="0" style="width:200px" />
    </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;内容：</p>
    <p align="center">
        <textarea id="editNoticeContent" style="width: 99%; height: 280px;" />
    </p>
</form>

<div id="noticePreviewWindow" class="easyui-window" title="公告" data-options="iconCls:'icon-tip',maximized:true,minimizable:false,cache:false,closable:true,closed:true,resizable:true" style="width:780px;height:450px;">
    <p align="center"><font color="black" size="4"><span id="noticePreviewTitle""></span></font></p>
    <p align="center"><textarea id="noticePreviewContent" readonly="readonly" style="width: 99%;" /></p>
</div>
</body>
</html>