<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/static/easyui/themes/easy.common.css}"></link>
    <script th:inline="javascript">
        var contextPath = [[@{/}]];
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/easyui/easy.common.js}"></script>
    <script th:src="@{/static/easyuiMask.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <!-- flow chart start -->
    <link rel="stylesheet" th:href="@{/static/flowChart/css/jquery.orgchart.css}"></link>
    <link rel="stylesheet" th:href="@{/static/flowChart/css/font-awesome.min.css}"></link>
    <link rel="stylesheet" th:href="@{/static/flowChart/css/style.css}"></link>
    <style type="text/css">
        .orgchart { background: #fff; }
        .orgchart .node .title { background-color: #006699; }
        .orgchart .node .content { border-color: #006699; }
    </style>
    <script th:src="@{/static/flowChart/js/jquery.orgchart.js}"></script>
    <!-- flow chart end -->
    <script th:inline="javascript">
        function dataGridInit() {
            $('#manager').datagrid({
                fit : true,
                fitColumns : true,
                striped : true,
                rownumbers : true,
                border : false,
                pagination : true,
                singleSelect:true,
                toolbar : '#manager_tool',
                columns : [[
                    {
                        field : 'id',
                        width : 100,
                        hidden : true
                    },
                    {
                        field : 'templateName',
                        title : '流程名称',
                        width : 100
                    }
                ]]
            });
        }

        function searchApply() {
            var result = ajaxSynchPostJson("user/startApply/searchTemplate", {"flowTemplateName": $('#flowTemplateNameSearch').val(), "page":1, "rows":10});
            if (result.code == '200') {
                dataGridPageInit();
                $('#manager').datagrid('loadData', result.data);
            } else {
                alertWarn(result.msg);
            }
        }

        function dataGridPageInit() {
            var p = $('#manager').datagrid('getPager');
            $(p).pagination({
                pageNumber : 1,
                pageSize : 10,
                pageList : [10, 20, 30, 40, 50],
                onSelectPage:function(pageNumber, pageSize){
                    var result = ajaxSynchPostJson("user/startApply/searchTemplate", {"flowTemplateName": $('#flowTemplateNameSearch').val(), "page":pageNumber, "rows":pageSize});
                    if (result.code == '200') {
                        $('#manager').datagrid('loadData', result.data);
                    }
                },
            });
        }

        function flowChartShow() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var result = ajaxSynchGet("user/startApply/getTemplateFlowChart", {"id": rows[0].id});
                if (result.code == '200') {
                    $("#flowChartDiv").empty();

                    if (result.data.name != null && result.data.name != '') {
                        $('#flowChartDiv').orgchart({
                            'data': result.data,
                            'nodeContent': 'content',
                            'createNode': function (node, nodeData) {
                                var nodeDom = $(node);

                                if (nodeData.name != null && nodeData.name != '') {
                                    $('.title', nodeDom).attr('title', nodeData.name);
                                }
                                if (nodeData.content != null && nodeData.content != '') {
                                    $('.content', nodeDom).attr("title", nodeData.content);
                                }
                            }
                        });
                    }

                    $('#flowChartWindow').window('open');
                } else {
                    alertWarn(result.msg);
                    return;
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function startApply() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                $('#startApplyForm').dialog('open');
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function startApplyCommit() {
            var rows = $('#manager').datagrid('getSelections');
            if (rows.length > 0) {
                var result = ajaxSynchUploadFilePost("user/startApply/startApply",
                        [
                            {key:"startApplyFile0", value:"#startApplyFile0"},
                            {key:"startApplyFile1", value:"#startApplyFile1"},
                            {key:"startApplyFile2", value:"#startApplyFile2"},
                            {key:"startApplyFile3", value:"#startApplyFile3"},
                            {key:"startApplyFile4", value:"#startApplyFile4"},
                            {key:"startApplyFile5", value:"#startApplyFile5"}
                        ],
                        [
                            {key:"templateId", value:rows[0].id},
                            {key:"instanceName", value:$("#startApplyTitle").val()},
                            {key:"applyContent", value:$("#startApplyContent").val()}
                        ]
                );
                if (result.code == '200') {
                    $('#startApplyForm').dialog('close');
                    alertSuccess();
                } else {
                    alertWarn(result.msg);
                }
            } else {
                alertWarn("请先选择记录！");
            }
        }

        function keyDownInit() {
            document.onkeydown = function doKeyDown() {
                if (event.keyCode == 13) {
                    var id = document.activeElement.id;
                    if (id == "flowTemplateNameSearch") {
                        searchApply();
                        return false;
                    } else {
                        return false;
                    }
                }
            }
        }

        $(function () {
            keyDownInit();
            dataGridInit();
            searchApply();
        });
    </script>
</head>
<body>
<table id="manager">
    <div id="manager_tool">
        <div style="margin-bottom:5px;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="startApply()">发起申请</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-tip" plain="true" onclick="flowChartShow()">流程预览</a>
        </div>
        <div style="padding:0 0 0 7px;color:#333;">
            流程名称：<input type="text" class="textbox" id="flowTemplateNameSearch" style="width:160px" />
            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchApply()">查询</a>
        </div>
    </div>
</table>

<div id="flowChartWindow" class="easyui-window" title="流程图" data-options="iconCls:'icon-tip',minimizable:false,cache:false,closable:true,closed:true,resizable:true" style="width:750px;height:400px;">
    <div id="flowChartDiv"></div>
</div>

<form id="startApplyForm" class="easyui-dialog" style="margin:0;padding:5px 0 0 25px;color:#333;"
      data-options="top:50,width:500,title:'发起申请',modal:true,closed:true,cache:false,iconCls:'icon-add',
       onClose:function () {
            $('#startApplyForm').form('reset');
       },
		buttons:[{
					text : '提交',
					iconCls : 'icon-add-green',
					handler : function () {
                    startApplyCommit();
					}
				},{
					text:'关闭',
					iconCls : 'icon-redo',
					handler:function(){
                    $('#startApplyForm').dialog('close');
					}
				}]">
    <p>标题：<input id="startApplyTitle" type="text" class="textbox" style="width:390px" /></p>
    <p>内容：
        <br/>
        <textarea id="startApplyContent" rows="6" cols="50" />
    </p>
    <p>
        <input id="startApplyFile0" type="file"/>
        <input id="startApplyFile1" type="file"/>
        <input id="startApplyFile2" type="file"/>
        <input id="startApplyFile3" type="file"/>
        <input id="startApplyFile4" type="file"/>
        <input id="startApplyFile5" type="file"/>
    </p>
    <p>注意：最多允许上传6个附件</p>
</form>
</body>
</html>